<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <div class="header">
            <ul class="header-right-content">
                <li class="header-icon ripple-button sidebar-menu-icon">
                    <img width="25px" height="25px" src="../public/assets/icons/menu.png" alt="">
                </li>
                <li style="word-spacing: 10px;">
                    Material Admin Pro
                </li>
            </ul>
            <ul class="header-left-content">
                <li>Overview</li>
                <li>Documentation</li>
                <li class="header-icon ripple-button">
                    <img width="30px" height="30px" src="../public/assets/icons/email.png" alt="">
                </li>
                <li class="header-icon ripple-button">
                    <img width="30px" height="30px" src="../public/assets/icons/bell.png" alt="">
                </li>
                <li class="header-icon ripple-button">
                    <img width="25px" height="25px" src="../public/assets/icons/user.png" alt="">
                </li>
            </ul>
        </div>
        <div class="body-container">
            <div class="sidebar-menu">
                <div class="sidebar-content">
                    <div class="drop-menu-container">
                        <div class="sidebar-brand">
                            Interface
                        </div>
                        <div class="dropMenu">
                            <div class="dropMenu-item">
                                <a href="#"><i class="fa-solid fa-globe"></i> Overview </a>
                            </div>

                            <div class="dropMenu-item sub-btn">
                                <a href="#">
                                    <i class="fa-solid fa-globe"></i>
                                    Dashboard
                                    <i class="fa-solid fa-caret-right dropdown-icon"></i>
                                </a>
                                <div class="sub-menu">
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                </div>
                            </div>

                            <div class="dropMenu-item sub-btn">
                                <a href="#">
                                    <i class="fa-solid fa-layer-group"></i>
                                    Layout
                                    <i class="fa-solid fa-caret-right dropdown-icon"></i>
                                </a>
                                <div class="sub-menu">
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                </div>
                            </div>

                            <div class="dropMenu-item sub-btn">
                                <a href="#">
                                    <i class="fa-solid fa-layer-group"></i>
                                    Page
                                    <i class="fa-solid fa-caret-right dropdown-icon"></i>
                                </a>
                                <div class="sub-menu">
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <div class="drop-menu-container">
                        <div class="sidebar-brand">
                            Interface
                        </div>
                        <div class="dropMenu">
                            <div class="dropMenu-item">
                                <a href="#"><i class="fa-solid fa-globe"></i> Overview </a>
                            </div>

                            <div class="dropMenu-item sub-btn">
                                <a href="#">
                                    <i class="fa-solid fa-globe"></i>
                                    Dashboard
                                    <i class="fa-solid fa-caret-right dropdown-icon"></i>
                                </a>
                                <div class="sub-menu">
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                </div>
                            </div>

                            <div class="dropMenu-item sub-btn">
                                <a href="#">
                                    <i class="fa-solid fa-layer-group"></i>
                                    Layout
                                    <i class="fa-solid fa-caret-right dropdown-icon"></i>
                                </a>
                                <div class="sub-menu">
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                </div>
                            </div>

                            <div class="dropMenu-item sub-btn">
                                <a href="#">
                                    <i class="fa-solid fa-layer-group"></i>
                                    Page
                                    <i class="fa-solid fa-caret-right dropdown-icon"></i>
                                </a>
                                <div class="sub-menu">
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="drop-menu-container">
                        <div class="sidebar-brand">
                            Interface
                        </div>
                        <div class="dropMenu">
                            <div class="dropMenu-item">
                                <a href="#"><i class="fa-solid fa-globe"></i> Overview </a>
                            </div>

                            <div class="dropMenu-item sub-btn">
                                <a href="#">
                                    <i class="fa-solid fa-globe"></i>
                                    Dashboard
                                    <i class="fa-solid fa-caret-right dropdown-icon"></i>
                                </a>
                                <div class="sub-menu">
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                </div>
                            </div>

                            <div class="dropMenu-item sub-btn">
                                <a href="#">
                                    <i class="fa-solid fa-layer-group"></i>
                                    Layout
                                    <i class="fa-solid fa-caret-right dropdown-icon"></i>
                                </a>
                                <div class="sub-menu">
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                </div>
                            </div>

                            <div class="dropMenu-item sub-btn">
                                <a href="#">
                                    <i class="fa-solid fa-layer-group"></i>
                                    Page
                                    <i class="fa-solid fa-caret-right dropdown-icon"></i>
                                </a>
                                <div class="sub-menu">
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                    <a href="" class="sub-item"> Sub Item 01 </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="sidebar-menu-footer">
                    <div class="sidebar-icon-footer">
                        <img src="../public/assets/icons/user-circle.png" alt="" width="25px" height="25px">
                    </div>
                    <div class="sidebar-footer-content">
                        <p>Logged in as:</p>
                        <span>Start Bootstrap</span>
                    </div>
                </div>
            </div>
            <div class="body-content">
                <div class="body-header">
                    <img width="50px" height="50px" src="../public/assets/icons/display.png" alt="">
                    <span class="main-text">Build beautiful products, fast.</span>
                    <span class="sub-text">Build high-quality digital experiences with the world's most intuitive union between Bootstrap 5 and Material Design.</span>
                    <button class="ripple-button">Explore Demos</button>
                </div>
                <div class="body-items-container">
                    <div class="body-item">
                        <div class="item-header">
                            <p class="text-item">Dashboard</p>
                            <span class="sub-text-item">Six pre-built, customizable dashboard demos</span>
                        </div>

                        <div class="dashboard-demos-container">
                            <!-- render data here -->
                        </div>
                    </div>

                    <div class="body-item">
                        <div class="item-header">
                            <p class="text-item">Pages</p>
                            <span class="sub-text-item">Custom made, fully responsive pages to get you started</span>
                        </div>

                        <div class="page-demos-container">
                            <!-- render data here -->                          
                        </div>
                    </div>

                    <div class="body-item">
                        <div class="item-header">
                            <p class="text-item">Pages</p>
                            <span class="sub-text-item">Custom made, fully responsive pages to get you started</span>
                        </div>

                        <div class="error-demos-container">
                            <!-- render data here -->   
                                                   
                        </div>
                    </div>

                </div>

                <div class="footer">
                    <div class="footer-right-content">
                        Copyright © Your Website 2021
                    </div>
                    <div class="footer-left-content">
                        <a href="">Privacy Policy</a>
                        <a href="">Terms & Conditions</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../public/js/index.js" type="module"></script>
<script>
    $(document).ready(function(){
        $(".sub-btn").click(function(){
            $(this).find(".sub-menu").slideToggle();
            $(this).find(".dropdown-icon").toggleClass("rotate");
        })
    })
</script>
</html>