* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(234, 234, 234);
}

.header-container {
    background-color: rgb(234, 234, 234);
}

.header {
}

.header-title {
    text-align: center;
}

.header-main-title {
    padding-top: 16px;
    font-size: 2.8rem;
    color: rgb(243, 165, 22);
}

.header-extra-title {
    color: rgb(46, 46, 46);
    font-size: 1.2rem;
    padding-top: 5px;
    padding-bottom: 15px;
}

.header-nav {
    text-align: center;
    background-color: rgb(245, 245, 245);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.098);
}

.group-button {
    padding-top: 22px;
    padding-bottom: 10px;
}

.population, .languages {
    padding: 6px 12px;
    border: none;
    background-color: rgb(243, 165, 22);
    cursor: pointer;
}

.population:hover, .languages:hover {
    background-color: rgb(212, 139, 3);
    transition: .3s;
}

.content-below-group-button {
    padding-bottom: 15px;
}

.content-container {
    padding-bottom: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.098);
}

.content {
    width: 80%;
    margin: 10px auto;
    
}

.item {
    display: flex;
}


.population-quantity {
    margin-top: 25px;
}

.country, .language {
    margin-top: 25px;
    margin-right: 5px;
}

.chart, .chart-lang {
    margin-top: 19.25px;
    width: 5px;
    height: 25px;
    background-color: rgb(243, 165, 22);
}

.left-content {
    display: flex;
}

.country-item {
    display: flex;
    justify-content: space-between;
}

.countries-content-title {
    display: block;
}

.countries-content-title.active {
    display: none;
}

.languages-content-title {
    display: none;
}

.languages-content-title.active {
    display: block;
}

.country-item.active {
    display: none;
}

.language-item {
    display: flex;
    justify-content: space-between;
}

.languages-item-wrapper {
    display: none;
}

.languages-item-wrapper.active {
    display: block;
}