.task{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 7px 0 rgb(110 142 247 / 13%);
    border: 1px solid #e1e2e8;
    border-radius: 3px;
    padding: 15px 10px;
    margin-bottom: 15px;

}
.task-item{
    font-size: 13px;
    color: #666;
    margin-bottom: 10px;

}
.task-main{
    display: flex !important;

}
.task-content{
    flex-grow: 2;
    padding-right: 10px;
    word-wrap: break-word;
    font-size: 17px;
}
.task-btn{
    margin: 0 5px;
    cursor: pointer;
}
.primary {
    color: #5680f9;
}
.danger {
    color: #ff2f2f;
}
.completed {
    background-color: #567ff9b6;
    text-decoration: line-through;
}